<!doctype html>
<html>
<head>
    <title>Adopt, don't shop</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="container">
  <div>
    <h1>Pet Adoption</h1>
    <a href="#">Donate</a>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login </a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
  </div>
  <div class="nav">
    <a href="#">Dog</a>
    <a href="#">Cat</a>
    <a href="#">Other Pets</a>
    <input type="text" name="" value="" placeholder="Enter city, state, or zip code">
    <button type="button" name="button">Submit</button>
  </div>
  <div>
    <h3>Some of available pets</h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>
</body>
</html>
